version: "3"
services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 80:80

  backend:
    restart: always
    container_name: backend
    build:
        context: ./
        dockerfile: Dockerfile.python
    expose:
      - 5000
    environment:
      - FLASK_ENV=production
      - FLASK_APP=app.py
      - FLASK_DEBUG=1