.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header h1 {
  color: antiquewhite;
  margin-left: 200px;
  font-family:cursive;
}

.header_search h3{
    margin-left: 120px;
    color: white;
}

.header_search {
  display: flex;
  flex: 1;
  margin-left: 20px;
  align-items: center;
  border-radius: 24px;
}

.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 60%;
}

.header_searchIcon {
  padding: 5px;
  height: 22px;
  background-color: #0046f7;
}

.row {
  margin-left: 100px;
  display: flex;
}

.row_data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* overflow-y: hidden;
    overflow-x: scroll; */
  /* padding: 20px; */
}

