.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header h1 {
  color: antiquewhite;
  margin-right: 10px;
}
.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_searchIcon {
  padding: 5px;
  height: 22px;
  background-color: #0046f7;
}

.row {
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row_data {
  display: flex;
  flex-wrap: wrap;
  /* overflow-y: hidden;
    overflow-x: scroll; */
  padding: 20px;
}

.row_data_single {
  margin: 30px;
  border: 2px solid black;
  padding: 40px;
}
